/* Reset do CSS para os elementos terem os espaçamentos controlados por mim e não pelo navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Altera as variáveis no site para a versão dark mode */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile-dark.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon.svg);
}

/* Altera as variáveis no site para a versão light mode */
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sunny.svg);
}

/* Define a imagem de fundo nos dispositivos menores */
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100%;
}

/* Especifica as dimensões do container maior*/
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Posiciona a imagem no centro, sem precisar transformar inline, e outras dimensões */
#profile {
  text-align: center;
  padding: 24px;
}

/* Define o tamanho da imagem */
#profile img {
  width: 112px;
}

/* Define o estilo da fonte no nome de usuário */
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Define o estilo do botão "theme mode" */
#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  background-size: 24px;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.4s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 24px;
}

/* Define os estilos das imagens */
#trailer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 588px;
  margin: 56px auto 48px;
  padding: 24px 0px;
}

#trailer .back_button {
  display: flex;
  padding: 16px 24px;
  margin: 0px auto 0px;
  justify-content: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  font-weight: 500;

  transition: all 0.2s;  
}

#trailer .back_button:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Definindo o estilo dos ícones */
#icons {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  font-size: 24px;
}

#icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#icons a:hover {
  background: var(--highlight-color);
}

/* Configurar o tipo de bakcground para tamanhos maiores */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop-dark.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* Adiciona a animação do botão */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
